<h1>Admininistration</h1>

<p>Totalt <%=@potential_customers.size.to_s %> har meldt sin interesse.</p>

<p>
   <ul>
   <% @potential_customers.each do |customer| %>
      <li><%= customer.email %> <%= customer.created_at %></li>
   <% end %>
   </ul>
</p>
