<div id="grass"><div id="road"></div></div>
<img src="/assets/signpost.png" id="signpost" />   

<ul id="socialMedia">
  <li>
    <a href="#" title="Til Facebook siden" target="_blank"><img src="/assets/facebook.png" alt="Til Facebook" /> </a>
  </li>
  <li>
    <a href="#" title="Til Twitter siden" target="_blank"><img src="/assets/twitter.png" alt="Til Twitter" /> </a>
  </li>
</ul>
 
<div id="mainContent">
	<div id="topSection">
      <h1>NeverGetTowed</h1>
	  <div id="message_box" class="">
      NeverGetTowed er en tjeneste som varsler deg dersom gaten du har parkert i skal ryddes for snø eller feies. Spar penger og unngå borttauing. 
      </div>
	</div>
    <div class="formWrapper roundAndShadow">
		<form action="register" method="post">
			<label for="email_input">E-post</label>
	        <input type="email" id="signup" name="email_input" placeholder="Din e-post" /><br />
			
			<label for="mobil_input">Mobilnummer</label>
			<input type="text" name="mobil_input" placeholder="Ditt mobilnummer" value="" id=""><br />
			
			<label for="password_input">Passord</label>
			<input type="password" name="password_input" value="" id=""><br />
			
			<label for="password_repeat_input">Gjenta passord</label>
			<input type="password" name="password_repeat_input" value="" id=""><br />
			
			<label for="payment_input">Ønsket betalingsmåte</label>
			<select name="payment_input" id="payment_input" onchange="" size="1">
				<option value="Visa">Visa</option>
				<option value="Sms">SMS</option>
				<option value="Paypal">Paypal</option>
			</select><br />
			<input type="submit" class="button" value="Registrer" />
		</form>
	</div>
  
  <iframe class="roundAndShadow" width="457" height="340" src="http://www.youtube.com/embed/oUnLx39f6xY" frameborder="0" allowfullscreen></iframe>
	<div id="padder">
   		<div id="footer">
  			Har du spørsmål om NeverGetTowed, send en e-post til info@nevergettowed.com
		</div>
	</div>
</div>
