<h1 id="name">NeverGetTowed</h1>
<div id="logo"></div>
<div id="email">
	<p>Registrer din interesse</p>
	<form action="index_submit" method="get" accept-charset="utf-8">
		<input type="text" name="email_input" value="" id="email_input"><br />
		<input type="submit" value="Registrer">
	</form>
</div>
<div id="brown">
	<div id="social">
		<a href="https://twitter.com/#!/nevergettowed"><img src="/assets/twitter.png"/></a>
		<a href="https://www.facebook.com/pages/NeverGetTowed/243080679071976"><img src="/assets/facebook.png"/></a>
	</div>
</div>