  <div id="container">
   <div class="yellow">
      <header>
        <div id="logo"></div>
      </header>
    
        <h1>NeverGetTowed</h1>
        
        <div id="main_wrapper">
          <div id="message_box" class="floatleft">
          NeverGetTowed er en tjeneste som varsler deg dersom gaten du har parkert i skal ryddes for snø eller feies. Spar penger – unngå borttauing.
          </div>
      
            <iframe width="560" height="315" src="http://www.youtube.com/embed/kVh8Z35pDm0" frameborder="0" allowfullscreen></iframe>
       
        </div>
        <div class="clearfix"></div>
      </div>
      
      
      <div class="signup_wrapper center_div" id="email">
		<form action="hold_meg_informert" method="post">
			<label id="email_error" class="error">Epostadresse er påkrevd</label>
	        <input type="text" id="signup" name="email_input" placeholder="Din e-post adresse" />
			<input type="submit" class="button" value="Registrer" />
		</form>
      </div>
     


    <footer>

    </footer>
  </div>