  <div id="container">
   <div class="yellow">
      <header>
        <div id="logo"></div>
      </header>
    
        <h1>NeverGetTowed</h1>
        
        <div id="main_wrapper">
          <div id="message_box" class="floatleft">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </div>
      
            <iframe width="560" height="315" src="http://www.youtube.com/embed/NAllFWSl998" frameborder="0" allowfullscreen></iframe>
       
        </div>
        <div class="clearfix"></div>
      </div>
      
      
      <div class="signup_wrapper center_div" id="email">
		<form action="hold_meg_informert" method="post">
			<label id="email_error" class="error">Epostadresse er påkrevd</label>
	        <input type="text" id="signup" name="email_input" placeholder="Din e-post adresse" />
			<input type="submit" class="button" value="Registrer" />
		</form>
      </div>
     


    <footer>

    </footer>
  </div>