@import url(http://fonts.googleapis.com/css?family=Antic);

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Antic', sans-serif;
}

body {
	background-color: #FFFF00;
}

#logo {
	background-image: url("../images/logo.png") no-repeat;
	float: left;
}

#email {
	
}

#social {
	
}

#brown {
	background-color: #CC9900;
	width: 100%;
}