@import url(http://fonts.googleapis.com/css?family=Antic);

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Antic', sans-serif;
}

body {
	background-color: #FFFF00;
}

#logo {
	height:512px;
	width:512px;
	background: url('/assets/logo.png');
}