<!DOCTYPE html>
<html>
<head>
  <title>Never Get Towed!</title>
  <%= stylesheet_link_tag    "app" %>
  <%= javascript_include_tag "touch/sencha-touch" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
